.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}

.title {
	font-size: 96px;
	font-weight: 900;
}

.form-container {
	display: flex;
	flex-direction: row;
}

.negative {
	color: white;
	-webkit-text-fill-color: black;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: white;
}

#submit {
	width: 10rem;
	height: 2rem;
	border-radius: 0px;
	background-color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: black;
	color: white;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	padding: 2rem;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}

strong {
	font-weight: 600;
}

a:link:active,
a:visited:active,
a:link,
a:visited {
	color: inherit;
}
